---
import Layout from "@layouts/Layout.astro";
import portrait from "@assets/EdlefRomeny.jpeg";
import { Image } from "astro:assets";
---

<Layout>
  <section class="grid max-w-4xl mx-auto py-4 font-serif">
    <h1 class="x-pb-8">
      Edlef Romeny 1926-2017
    </h1>

    <p>
      <Image
        src={portrait}
        alt="Edlef Romeny"
        width={200}
        class="float-right ml-2 mb-2"
      /> 
      <em>Edlef Wybo Rudolf Arthur Ter Haar Romeny</em> was born on 14th February 1926
      in Sint-Michielsgestel, The Netherlands. He was a Dutch-Swedish painter and
      stained glass artist.
      <br />
      <br />
      Romeny studied applied arts (stained glass) in Arnhem (1943-44), before volunteering
      to serve with the British army in the Netherlands and the Korps Mariniers (Dutch
      Marines) in the Dutch East Indies. In 1948, Romeny continued his studies at
      the Royal Academy of Fine Arts, Antwerp (until 1951). In 1955, he married Gerd
      Alice Öfors and moved to Sweden.
      <br />
      <br />
      Romeny exhibited extensively - Most notably in Sorabaya, Indonesia (1948),
      Amsterdam (1950), with the Dutch painter Tonny Ros (1920-1993), Utrecht (1953),
      Galerie Aesthetica, Stockholm (1957) and at Norrköping Art Museum (1960)
      <br />
      <br />
      In 1980, Romeny moved to Provence in France (he had kept a summer studio there
      since 1965) and married the soprano Lise Arséguet
      <br />
      <br />
      Examples of his works can be seen at the Kunsthaus, Zurich (self-portrait),
      Stedelijk Museum, Amsterdam, Västerås Art Museum and the New York Public Library,
      USA
    </p>

    <p>Romeny died on 25th December 2017, aged 91</p>
  </section>
</Layout>
