---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="grid max-w-4xl mx-auto p-4 font-serif">
    <h1 class="text-5xl font-bold font-sans uppercase pb-8">Edlef Romeny</h1>
    <p>
      Welcome to the online portfolio of Edlef Romeny, a Dutch artist and
      designer based in Provence. The site showcases a selection of his <a
        href="/works">works</a
      >
    </p>
  </section>
</Layout>
